/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */
.topbar {
	background-color: #DEDEDE;
	width: 100%;
	text-align: right;
	padding:4px;
}

.loginPanel {
	float: right;
}

.logo {
	
}

.results {
	background-color:white;
	margin-top:20px;
	padding:8px;
	float: right;
}
.resultPanel {
	background-color:lightgrey;
	width:100px;
	padding:1px;
	margin-left:3px;
	float: left;
}

.resultPanelTop {
	background-color:lightgrey;
	padding-left:2px;	
}

.resultPanelPos {
	margin:2px;	
}

.resultPanelBottom {
	background-color:white;
	padding-left:2px;

}
.smartButton  {
	background-color: lightblue;
	margin-top:8px;
	margin-left:8px;
	border-size:1px;
	border-style:solid;
	text-align:center;
	vertical-align:center;
	margin:7px;
}

.smartButton img {
	float:right;
}

.comp {
	background-color: white;
}

.ads {
	background-color: white;
	min-height: 600px;
	float:right;
	padding: 8px;
}

.game {
	background-color: white;
}

.playarea {
	padding:8px;
	min-height: 550px;
	float: left;
	width: 100%;

}



.apparea {
	margin-top:10px;
	width:100%;
	min-height:550px;
}

.buttonbox {
	margin:10px;
}

.matchPanel {
	padding:6px;
	margin:10px;
	border-style:solid;
	border-width: 1px;
	border-color: lightgrey;
	border-collapse: separate;
	//min-width: 400px;
	width:90%;
}

.panel {
	padding:2px;
	border-style:solid;
	border-width: 1px;
	border-color: lightgrey;
	border-collapse: separate;
/* 	min-width: 400px; */
	width: 90%;
 	margin: 10px; 
}

.fullwidth {
	width: 100%;

}

.leaderboardRow {
 	padding:2px; 
}

.leaderboardCell {
	padding:2px;
	text-align:left;
	margin:2px:
}

.leaderboardCell:hover {
	background-color:darkgrey;
}

.leaderboardRow-header {
	font-weight:bold;
	background-color:lightgrey;
}
.leaderboardRow-odd {
	background-color:#f0f0f0;
}

.leaderboardRow-even {
	background-color:white;
}

.tiebreakerCell {
	padding:2px;
	text-align:left;
	margin:2px;
	width:80px;
}

input.tiebreakerEntry {
	padding:2px;
	text-align:left;
	margin:2px;
	width:30px;
}

.tiebreakerInstructions {
	font-size:.75em;
	margin:4px;
	width:400px;
}

.footer {
	text-align:center;
}

.highlight {
	background-color: yellow;
}

.correct {
	background-color: lightgreen;
}

.incorrect {
	background-color: pink;
}

.onetwothree-panel {
	width:200px;
	float:right;
	padding: 3px;
}

.onetwothree-header {
	background-color: lightgrey;
	font-size:1.5em;
	padding:10px;
	font-color:grey;
}

.onetwothree-body {
	background-color: white;
	font-size:1em;
	padding:10px;
	font-color:grey;
}

.tab-disabled {
	background-color: white;
	font-color: light-grey;
}

input.accountInput {
	float:right;
	width:180px;
}

.accountLabel {
	padding:2px;
	text-align:left;
	margin:2px;
	width:120px;
}

.createAccountLabel {
	padding:2px;
	text-align:right;
	margin:2px;
	width:200px;
}

.accountPanel {
	margin:20px;
}

.serverResponseLabelError {
	color:red;
	font-weight:bold;
}

input.joinLink {
	width:250px;
}

.beta {
	text-transform: uppercase;

	color: red;
}

.zero {
	
	width:0px;
}

/* PlayPanel */
.playPanelSegment {
	min-width:7em;
}
.teamGrid {
	padding-right:8px;
}

.smallerFont {
	font-size:.75em;
	margin:4px;
	float:right;
}

.barGraph {
	float:right;
}
/* OpenId navigation */
.openId {
    padding: 0;
    margin: 10px 0 8px;
    list-style: none;
    overflow: hidden;
}


ul.openId li {
    margin: 10px 0 8px;
    padding: 0;
}

.openId li a {
	height: 50px;
	width: 150px;
    display: block;
	background-image: url(/images/login/login.png);
}

li#google a {
    background-position: -0px -150px;
}
li#google a:hover  {
    background-position: -150px -150px;
}

li#facebook a {
    background-position: -0px -100px;
}
li#facebook a:hover  {
    background-position: -150px -100px;
}

li#aol a {
    background-position: -0px -0px;
}
li#aol a:hover  {
    background-position: -150px -0px;
}

li#openid a {
    background-position: -0px -250px;
}
li#openid a:hover  {
    background-position: -150px -250px;
}

li#yahoo a {
    background-position: -0px -400px;
}
li#yahoo a:hover  {
    background-position: -150px -400px;
}

td#or {
	font-size: 2em;
	color: grey;
	vertical-align: middle;
}

.show {
	hieght:100%;
}

.hide {
	height:0%
}

#floatContainer { position:relative; width: 5em;}
#orContainer { position:absolute; top:50%; height:10em; margin-top:2.5em; 	font-size: 2em;
	color: grey; }
	
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/