/* OpenId navigation */
.openId {
    padding: 0;
    margin: 10px 0 8px;
    list-style: none;
    overflow: hidden;
}


ul.openId li {
    margin: 10px 0 8px;
    padding: 0;
}

.openId li a {
	height: 50px;
	width: 150px;
    display: block;
	background-image: url(/images/login/login.png);
}

li#google a {
    background-position: -0px -150px;
}
li#google a:hover  {
    background-position: -150px -150px;
}

li#facebook a {
    background-position: -0px -100px;
}
li#facebook a:hover  {
    background-position: -150px -100px;
}

li#aol a {
    background-position: -0px -0px;
}
li#aol a:hover  {
    background-position: -150px -0px;
}

li#openid a {
    background-position: -0px -250px;
}
li#openid a:hover  {
    background-position: -150px -250px;
}

li#yahoo a {
    background-position: -0px -400px;
}
li#yahoo a:hover  {
    background-position: -150px -400px;
}